---
import Card from "@/components/Card.astro";
import RootLayout from "@/layouts/RootLayout.astro";

const projectsData = [
    {
        title: 'Adaptive Uncertainty Quantification for Generative AI',
        description: `Modern deep learning paradigms function as a black-box and do not expose their training data to the end user. We develop a novel framework for conformal prediction that adapts based on the calibration data directly, circumventing the need for further data splitting or access of the training data.`,
        imgSrc: '/static/images/adaptive_uq_card.png',
        href: 'https://arxiv.org/abs/2408.08990',
    },
    {
        title: 'Tree Bandits for Generative Bayes',
        description: `We develop a self-aware framework for likelihood-free Bayesian inference that learns from past trials and errors. We apply recursive partitioning classifiers on the ABC lookup table to sequentially refine high-likelihood regions into boxes, each of which is regarded as an arm in a binary bandit problem treating ABC acceptance as a reward.`,
        imgSrc: '/static/images/tree_abc_card.png',
        href: 'https://arxiv.org/abs/2404.10436',
    },
    {
        title: 'Measurement in the Age of LLMs',
        description: `Much of social science is centered around terms like “ideology” or “power”, which generally
        elude precise definition, and whose contextual meanings are trapped in surrounding language. This
        paper explores the use of large language models (LLMs) to flexibly navigate the conceptual clutter
        inherent to social scientific measurement tasks. We elicit ideological scales of both legislators and text, which accord closely to established methods and our own judgement.`,
        imgSrc: '/static/images/measurement_card.png',
        href: 'https://arxiv.org/abs/2312.09203',
    },
]
---

<RootLayout title="Research">
    <div class="divide-y divide-gray-200 dark:divide-gray-700">
        <div class="space-y-2 pb-8 pt-6 md:space-y-5">
            <h1 class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14">
                Research
            </h1>
            <p class="text-lg leading-7 text-gray-500 dark:text-gray-400">
                I am broadly interested in uncertainty quantification. To this end, I have worked on computational methods for accelerating Bayesian inference in simulator based models, and locally adaptive conformal prediction methods for deep learning models.
            </p>
        </div>
        <div class="container py-12">
            <div class="-m-4 flex flex-wrap">
                {projectsData.map((d) => (
                        <Card title={d.title} description={d.description} imgSrc={d.imgSrc} href={d.href}/>
                ))}
            </div>
        </div>
    </div>
</RootLayout>
