---
import FormattedDate from "@/components/FormattedDate.astro";
---

<ul>
    <li class="py-2">
        <article class="flex flex-row pb-2">
            <div class="font-medium text-gray-500 dark:text-gray-400 w-32">
                <FormattedDate date={new Date("2024-07-18")}/>
            </div>
            <div class="pl-4">
                <p class="max-w-none">
                    I gave an oral presentation at <a class="text-blue-600 dark:text-blue-500 hover:underline"  href="https://ic2s2-2024.org/"> in Philadelphia on representations of ideology in large language models
                </p>
            </div>
        </article>
        <article class="flex flex-row pb-2">
            <div class="font-medium text-gray-500 dark:text-gray-400 w-32">
                <FormattedDate date={new Date("2024-04-16")}/>
            </div>
            <div class="pl-4">
                <p class="max-w-none">
                    Posted a <a class="text-blue-600 dark:text-blue-500 hover:underline" href="https://arxiv.org/abs/2404.10436">preprint</a> with Jungeum Kim and Veronika Ročková on accelerating approximate Bayesian computation using a tree-based partitioning 
                </p>
            </div>
        </article>
        <article class="flex flex-row pb-2">
            <div class="font-medium text-gray-500 dark:text-gray-400 w-32">
                <FormattedDate date={new Date("2023-12-18")}/>
            </div>
            <div class="pl-4">
                <p class="max-w-none">
                    My work with Aaron Schein was presented at the NeurIPS workshop "I Can't Believe it's not Better" in New Orleans, LA. Check out a preprint <a class="text-blue-600 dark:text-blue-500 hover:underline" href="https://arxiv.org/abs/2312.09203">here</a>
                </p>
            </div>
        </article>
        <article class="flex flex-row pb-2">
            <div class="font-medium text-gray-500 dark:text-gray-400 w-32">
                <FormattedDate date={new Date("2023-11-09")}/>
            </div>
            <div class="pl-4">
                <p class="max-w-none">
                    Presented my work on eliciting ideological scales from large language models at the New Directions in Text as Data conference (TADA) in Amherst, MA
                </p>
            </div>
        </article>
        <!-- <article class="flex flex-row pb-2"> -->
        <!--     <div class="font-medium text-gray-500 dark:text-gray-400 w-32"> -->
        <!--         <FormattedDate date={new Date("2023-11-09")}/> -->
        <!--     </div> -->
        <!--     <div class="pl-4"> -->
        <!--         <p class="max-w-none"> -->
        <!--        More to come -->
        <!--         </p> -->
        <!--     </div> -->
        <!-- </article> -->
    </li>
</ul>
