---
import FormattedDate from "@/components/FormattedDate.astro";
---

<ul>
    <li class="py-2">
        <article class="flex flex-row pb-2">
            <div class="font-medium text-gray-500 dark:text-gray-400 w-32">
                <FormattedDate date={new Date("2023-11-04")}/>
            </div>
            <div class="pl-4">
                <p class="max-w-none">
                    Submitted our work to JoSoCo! Check it out here!
                </p>
            </div>
        </article>
        <article class="flex flex-row pb-2">
            <div class="font-medium text-gray-500 dark:text-gray-400 w-32">
                <FormattedDate date={new Date("2023-11-09")}/>
            </div>
            <div class="pl-4">
                <p class="max-w-none">
                I presented my work at TADA 2023 in Amherst, MA
                </p>
            </div>
        </article>
    </li>
</ul>
